In [21]:
import pandas as pd
import numpy as np

In [48]:
toy_in = pd.DataFrame(columns = ['L1', 'L2', 'L3', 'P1', 'P2'], 
                     index = ['cellA_L1_P1', 'cell_L2_P1', 'cellA_L1_P2', 'cellB_L1_P2', 'cell_L1_L2_P2', 'cell_L3_P2'])
toy_in = toy_in.fillna(0)
for idx in toy_in.index:
    cond = idx.split('_')[1:]
    for c in cond:
        toy_in.loc[idx, c] = 1

toy_in_final = toy_in.copy()

toy_in_second = toy_in_final.copy()
toy_in_second.drop(columns = ['P2'], inplace =True)
toy_in_second['P1'] = 1
toy_in_second = toy_in_second.loc[[idx for idx in toy_in_second.index if idx.split('_')[-1] == 'P1'], :]
toy_in_first = toy_in_second.drop(columns = ['P1'])

/tmp/ipykernel_1547162/1146900450.py:3: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  toy_in = toy_in.fillna(0)

In [49]:
toy_in_first

             L1  L2  L3
cellA_L1_P1   1   0   0
cell_L2_P1    0   1   0

In [50]:
toy_in_second

             L1  L2  L3  P1
cellA_L1_P1   1   0   0   1
cell_L2_P1    0   1   0   1

In [51]:
toy_in_final

               L1  L2  L3  P1  P2
cellA_L1_P1     1   0   0   1   0
cell_L2_P1      0   1   0   1   0
cellA_L1_P2     1   0   0   0   1
cellB_L1_P2     1   0   0   0   1
cell_L1_L2_P2   1   1   0   0   1
cell_L3_P2      0   0   1   0   1